* {
    box-sizing: border-box;
    margin: 0;
    background-color: #F9ECDF;
}

body {
    font-size: 20px;
}

/* Navigation */
.nav-container {
    height: 100px;
    margin-top: 30px;
    z-index: 500;
    position: relative;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}

nav ul {
    display: flex;
}

.logo {
    position: absolute;
    width: 100px;
    height: 113.65px;
    left: 60px;
    top: 20px;
}


.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #492777;
    font-size: 25px;
    font-family: "Orelega One";
    text-decoration: none;
}

.nav-button-container {
    position: absolute;
    width: 187px;
    height: 35px;
    left: 1500px;
    top: 60px;    
}


.login-container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orelega One";
    position: absolute;

}

.login-container-vertical{
    background: #ECDFEC;
    border-width: 5px;
    position: absolute;
    width: 1000px;
    height: 634px;
    left: 500px;
    top: 150px;
}

.input-container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ECDFEC;
    margin: 30px;
    position: absolute;
    width: 500px;
    height: 120px;
    left: 200px;
    top: 350px;  
}

::-webkit-input-placeholder{
    color: #00000079;   
}

#login-header{
    letter-spacing: 2px;
    position: absolute;
    left: 450px;
    top: 100px;
    background-color: transparent;
    color: #492777;
    font-size: 50px;
}

.btn-container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    position: absolute;
    width: 461.79px;
    height: 43.22px;
    left: 228px;
    top: 500.67px;
}

#email-text {
    position: absolute;
    left: 3px;
    top: -10px;
    color:#492777;
    background-color: transparent;
}

#email{
    background-color: transparent;
    order: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: #492777;
    font-family: "Orelega One";
    border-radius: 10px;

    height: 300px;
    width: 500px;
    margin: 10px;
}

#password-text {
    position: absolute;
    left: 3px;
    top: 50px;
    color:#492777;
    background-color: transparent;
}

#password {
    order: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    color: #492777;
    background-color: transparent;
    font-family: "Orelega One";
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: 10px;
}

#login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #ECDFEC;
    font-family: "Orelega One";
    border-radius: 10px;
    color: #492777;
    height: 40px;
    width: 200px;
    font-size: 150%;
}

#login-btn:focus{
    outline: none !important;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

#signup-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #ECDFEC;
    font-family: "Orelega One";
    border-radius: 10px;
    color: #492777;
    height: 40px;
    width: 200px;
    font-size: 150%;
}

#signup-btn:focus{
    outline: none !important;
    border-color: #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

#no-existing-acc-msg {
background: #ECDFEC;
text-align: center;
position: center;
width: 500px;
height: 20.61px;
left: 100px;
top: 100x;
}
