*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orelega One;
  }
  
/* Navigation */
nav ul {
    display: flex;
}

.logo {
    position: absolute;
    top: 20px;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #492777;
    font-size: 25px;
    font-family: "Orelega One";
    text-decoration: none;
}

.nav-button-container {
    position: absolute;
    left: 750%;
    top: 64px;    
}

html, body {
    display: grid;
    height: 770px;  /* might have issues with consistency */
    width: 100%;
    box-sizing: border-box;
    place-items: center;
    background: #F9ECDF;
}

.wrapper {
  overflow: hidden;
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
  
.header-container {
    padding: 50px;
    text-align: center;
    color: #492777;
}


/*
.hero-content {
    position: absolute;
    height: 82px;
    left: 40.97%;
    right: 40.83%;
    top: calc(50% - 82px/2 - 177px);
    font-family: 'Orelega One';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 82px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.352431px;
    color: #492777;
  }

.search-button {
    position: absolute;
    width: 47.06px;
    height: 40.67px;
    left: 790px;
    top: 250px; 
  }

.search-bar {
    position: absolute;
    width: 1050px;
    height: 71px;
    left: 350px;
    top: 500px;
    background: #FFFFFF4D;
    box-shadow: 0px 2.71949px 5.43897px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25.7155px);
    border-radius: 27.1949px;
}

input[type="text"] {
    border: 0;
    width: 1229px;
    height: 70px;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: italic;
    text-align: 50px;
}
*/

/* new search bar implementation */

.search {
	position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    max-width: 600px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.search .input {
    width: 88%;
    padding: 10px 20px;
    border: none;
}
